%html
  %head
    %title California Poets in the Schools
    = javascript_include_tag 'application'
    = javascript_include_tag 'https://code.jquery.com/jquery-2.2.4.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css'
    = stylesheet_link_tag 'adminlogin'
    = csrf_meta_tags

  %body
    %nav
      .nav-wrapper
        .brand-logo.right
          %a{:href => "http://www.californiapoets.org/"}
            // California Poets in the Schools
            // %img.right{:src => "https://orig13.deviantart.net/02c5/f/2017/220/0/1/transparentlogo_by_zeolch-dbjcvki.png", :style => "width: 93px; height: auto;"}
            = link_to image_tag("https://orig13.deviantart.net/02c5/f/2017/220/0/1/transparentlogo_by_zeolch-dbjcvki.png", 
             width: "93px", height: "auto"),"http://www.californiapoets.org/", :target => "_blank"

        %ul#nav-mobile.left
          %li= link_to 'Home', root_path, :method=>'get'
          -if not current_user.nil?
            %li= link_to 'Admin', view_poems_path
          -if not current_user.nil?
            %li= link_to 'Submit a Poem', new_poem_path
          -if current_user.nil?
            %li= link_to 'Log In / Sign up', login_path
          -else
            %li= link_to 'Log Out', destroy_user_session_path, :method=>'delete'
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      = yield
  :javascript
    $(document).on('ready page:load', function () {
      $('#product_tag_ids').chosen({
        allow_single_deselect: true,
        width: '100%'
      })
    });